In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('inputDay5.txt', header=None)

In [3]:
df.head()

     0           1    2
0  565  190 -> 756  381
1  402  695 -> 402  138
2  271   844 -> 98  844
3  276   41 -> 276  282
4   12   93 -> 512  593

In [4]:
df[[3,4]] = df[1].str.split('->', 1, expand=True)

In [5]:
#df.head(2)

In [6]:
df_new = df.iloc[:,[0,3,4,2]]
df_new.columns = ['X_start', 'Y_start','X_end', 'Y_end']

In [7]:
df_new.head()
#df_new = df_new.iloc[0:2,:]

   X_start Y_start X_end  Y_end
0      565    190    756    381
1      402    695    402    138
2      271    844     98    844
3      276     41    276    282
4       12     93    512    593

In [16]:
init_max = np.zeros((999,999))

In [9]:
#init_max = np.zeros((999,999))

In [10]:
""" for row_nr in range(len(df_new)):
    row = df_new.iloc[row_nr,:]
    X_start = row["X_start"]
    Y_start = row["Y_start"]
    X_end = row["X_end"]
    Y_end = row["Y_end"]
    for i in range(int(X_start), int(X_end)+1):
        for k in range(int(Y_start), int(Y_end)+1):
            init_max[i][k] = init_max[i][k]+ 1 """

' for row_nr in range(len(df_new)):\n    row = df_new.iloc[row_nr,:]\n    X_start = row["X_start"]\n    Y_start = row["Y_start"]\n    X_end = row["X_end"]\n    Y_end = row["Y_end"]\n    for i in range(int(X_start), int(X_end)+1):\n        for k in range(int(Y_start), int(Y_end)+1):\n            init_max[i][k] = init_max[i][k]+ 1 '

In [54]:
trial = pd.DataFrame({'X_start': [0,8,9,2,7,6,0,3,0,5], 'Y_start': [9,0,4,2,0,4,9,4,0,5], 'X_end':[5,0,3,2,7,2,2,1,8,8], 'Y_end':[9,8,4,1,4,0,9,4,8,2]})

In [18]:
for row_nr in range(len(df_new)):
    row = df_new.iloc[row_nr,:]
    X_start = int(row["X_start"])
    Y_start = int(row["Y_start"])
    X_end = int(row["X_end"])
    Y_end = int(row["Y_end"])
    X_new_start = min(X_start, X_end)
    X_new_end = max(X_end, X_start)
    Y_new_start = min(Y_start, Y_end)
    Y_new_end = max(Y_end, Y_start)
    if X_new_start == X_new_end:
        for k in range(int(Y_new_start), int(Y_new_end)+1):
            init_max[X_new_start][k] = init_max[X_new_start][k]+ 1
    elif Y_new_start == Y_new_end:
        for i in range(int(X_new_start), int(X_new_end)+1):
            init_max[i][Y_new_end] = init_max[i][Y_new_end]+ 1

In [19]:
print(np.count_nonzero(init_max >= 2))

8622

In [55]:
init_max = np.zeros((999,999))

In [56]:
for row_nr in range(len(df_new)):
    row = df_new.iloc[row_nr,:]
    X_start = int(row["X_start"])
    Y_start = int(row["Y_start"])
    X_end = int(row["X_end"])
    Y_end = int(row["Y_end"])
    X_new_start = min(X_start, X_end)
    X_new_end = max(X_end, X_start)
    Y_new_start = min(Y_start, Y_end)
    Y_new_end = max(Y_end, Y_start)
    if X_new_start == X_new_end:
        for k in range(int(Y_new_start), int(Y_new_end)+1):
            init_max[X_new_start][k] = init_max[X_new_start][k]+ 1
    elif Y_new_start == Y_new_end:
        for i in range(int(X_new_start), int(X_new_end)+1):
            init_max[i][Y_new_end] = init_max[i][Y_new_end]+ 1
    elif X_new_start == Y_new_start and X_new_end == Y_new_end:
        if X_start == Y_start and X_end == Y_end:
            for j in range(X_start, X_end+1):
                init_max[j][j] = init_max[j][j] + 1
        elif X_start == Y_end and X_end == Y_start:
            for m in range(X_new_start, X_new_end+1):
                for n in range(Y_new_end+1, Y_new_start, -1):
                    init_max[m][n] = init_max[m][n] + 1

In [36]:
print(np.count_nonzero(init_max >= 2))

8622

In [64]:
init_max = np.zeros((999,999))

In [66]:
for row_nr in range(len(df_new)):
    row = df_new.iloc[row_nr,:]
    X_start = int(row["X_start"])
    Y_start = int(row["Y_start"])
    X_end = int(row["X_end"])
    Y_end = int(row["Y_end"])
    X_new_start = min(X_start, X_end)
    X_new_end = max(X_end, X_start)
    Y_new_start = min(Y_start, Y_end)
    Y_new_end = max(Y_end, Y_start)
    if X_new_start == X_new_end:
        for k in range(int(Y_new_start), int(Y_new_end)+1):
            init_max[X_new_start][k] = init_max[X_new_start][k]+ 1
    elif Y_new_start == Y_new_end:
        for i in range(int(X_new_start), int(X_new_end)+1):
            init_max[i][Y_new_end] = init_max[i][Y_new_end]+ 1
    elif X_new_end - X_new_start == Y_new_end - Y_new_start:
        sign_x = int((X_end - X_start)/(X_new_end - X_new_start))
        sign_y = int((Y_end - Y_start)/(Y_new_end - Y_new_start))
        for i in range(abs(X_end-X_start)+1):
            init_max[X_start + sign_x*i][Y_start + sign_y*i] = init_max[X_start + sign_x*i][Y_start + sign_y*i] + 1

In [67]:
print(np.count_nonzero(init_max >= 2))

22037